.GroupCreatePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.GroupCreatePage img{
    width: 40%;
    animation: pulse-icon 2s infinite ease-in-out;
}

#createBtn{
    margin-top: 2rem;
    font-size: larger;
}
@keyframes pulse-icon {
    /* 0% (시작) 시점: 원래 크기 */
    0% {
        transform: scale(1);
    }
    /* 50% 시점: 5% 커짐 */
    50% {
        transform: scale(1.05);
    }
    /* 100% (끝) 시점: 다시 원래 크기 */
    100% {
        transform: scale(1);
    }
}