.forbiddenContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

    font-size: larger;
}
.forbiddenContainer img{
    width: 40%;
}