#Local Testing docker compose yml
services:
  mysql:
    container_name: mysql
    image: mysql:latest
    restart: always
    volumes:
      - ./volume/mysqldata:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=graffiti
      - MYSQL_ROOT_HOST=%
    ports:
      - 3306:3306
  redis:
    container_name: redis
    image: redis:latest
    ports:
      - 6379:6379
  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9091:9090
  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    ports:
      - 3001:3000
    volumes:
      - ./volume/grafana:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
  minio:
    image: minio/minio
    ports:
      - 7000:9000
      - 7001:9001
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: "@wu98061612"
    volumes:
      - ./volume/minio:/data
    command: server /data --console-address ":9001"
  rabbitmq:
    image: rabbitmq:3.13.3-management
    container_name: rabbit-mq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - ./volume/rabbitmq:/var/lib/rabbitmq

  mongo:
    image: mongo:latest
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: graffiti_notification

    volumes:
      - ./volume/mongodb:/data/db
