server:
  port: 9081
spring:
  application:
    name: gateway
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  output:
    ansi:
      enabled: always

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    prometheus:
      enabled: true