button.send{
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    bottom: 0.5rem;
    right: 0.5rem;
}
button.send img{
    width: 1.8rem;
    height: 1.8rem;
}