spring:
  application:
    name: graffiti
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  output:
    ansi:
      enabled: always
  messages:
    encoding: UTF-8
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true