spring:
  cache:
    type: redis
  application:
    name: graffiti
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  output:
    ansi:
      enabled: always
  messages:
    encoding: UTF-8
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
management:
  endpoints:
    web:
      exposure:
        include: health, beans, httptrace, info, metrics, prometheus