div.detailContainer{
    margin-top: 3rem;
    padding: 1rem;
    background-color: white;
}

div.header{
    display: flex;
    justify-content: space-between;
}

div.authorProfile{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.authorProfile img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.header div.createdAt{
    color: gray;
}

div.info{
    position: relative;
    padding-top: 1rem;;
    display: flex;
    align-items: center;
}

.info div.static{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-size: smaller;
    color: rgb(85, 85, 85);
}
.info div.static img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.25rem;
}

.imageContainer img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}
div.mentionContainer{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding:0.3rem;
    margin-top: 1rem;
    overflow-x: auto;
}
div.mentionMember{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    display: flex;
    margin-right: 0.5rem;
}
.mentionContainer img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 0px;
    margin-right: 0.5rem;
}

.mentionContainer span{
    color: black;
}
#share{
    position: absolute;
    right: 0rem;
}