.whisperPreviewContainer img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}
div.mentionContainer{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding:0.3rem;
    margin-top: 1rem;
    overflow-x: auto;
}
div.mentionMember{
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    display: flex;
    margin-right: 0.5rem;
}
.mentionContainer img{
    width: 1.2rem;
    border-radius: 50%;
    margin: 0px;
    margin-right: 0.2rem;
}

.mentionContainer span{
    color: black;
}