div.CreatePageContainer{
    margin-top: 3.5rem;
    padding:0.5rem;
}
div.contentContainer{
    border: 1px solid #ccc;
    padding:0.5rem;
    background-color: white;
    border-radius: 5px;
}

div.controller{
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid #ccc;
    padding:0.5rem;
    border-radius: 5px;
}

.controller label.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5;
    margin-right: 1rem;
}
.controller label.button img{
    margin-right: 0.5rem;
}

div.imageContainer{
    width: 100%;
    position: relative;
}

.imageContainer img{
    width: 100%;
    border-radius: 5px;
}
.imageContainer button{
    top:0.5rem;
    right: 0.5rem;
    position:absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
img#delete{
    width: 25px;
}