div.pageContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

img#greeting{
    margin-top: 1rem;
    width: 40%;
    animation: shake-rotation 1.2s ease-in-out infinite;
}

div#groupName{
    font-size: 2rem;
    margin-bottom: 1rem;
}

button#join{
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 0.4rem 2rem;
    border-radius: 50px;
    border: none;
    background-color: rgb(104, 187, 104);
    color: white;
}

@keyframes shake-rotation {
    0% { transform: rotate(0deg); }       /* 시작: 0도 */
    25% { transform: rotate(-2deg); }     /* 왼쪽으로 2도 회전 */
    50% { transform: rotate(2deg); }      /* 오른쪽으로 2도 회전 */
    75% { transform: rotate(-1deg); }     /* 왼쪽으로 1도 회전 (점점 작아지게) */
    100% { transform: rotate(0deg); }      /* 원래 위치로 복귀 */
}